<div id="accolades">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h4>Accolades</h4>
			</div>
			<div class="span3">
				<blockquote>&ldquo;Widely known as a subject matter expert in service contracts and for all aspects of pre-award contracting.  Jackie is sought out for her guidance regarding acquisition strategies, policies and guidance and is an outstanding researcher and writer.&rdquo;<div class="clear">&nbsp;</div></blockquote>
				
				<cite><em>Shirley Wilson</em>Regional Contracting Chief/Acting Principal Assistant Responsible for Contracting, U.S. Army Corps of Engineers</cite>
			</div>
			<div class="span3">
				<blockquote>&ldquo;Jackie Wolfe is one of the sharpest procurement specialists I have had the pleasure of working with.&rdquo;</blockquote>
				<div class="clear">&nbsp;</div>
				<cite><em>Mike Adams</em>Assistant Counsel, U.S. Army Corps of Engineers</cite>
			</div>
			<div class="span3">
				<blockquote>&ldquo;What a privilege it has been to work with an acquisition professional as excellent as Jacqueline Wolfe.&rdquo;</blockquote>
				<div class="clear">&nbsp;</div>
				<cite><em>Thomas Warren</em>Wiley Rein LLP, Professor of Contract Law at the U.S. Army Judge Advocate General's (JAG) School</cite>
			</div>
			<div class="span3">
				<blockquote><strong>Secretary of the Army Award for Excellence in Contracting in the Category of Outstanding Procurement Analyst</strong></blockquote>
				<div class="clear">&nbsp;</div>
				<cite class="last">May, 2011</cite>
			</div>
		</div>
	</div>
</div>