<div class="container-fluid" id="footer">
	<div class="row-fluid">
		<div class="span4">
			<div>
				<ul id="nav_footer">
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</div>
		</div>
		<div class="span8">
			<div id="more_info">
				<p>For more information and pricing call 304-596-1530 or email <a href="mailto:jackie@wolfeproposals.com?subject=More%20Information%20And%20Pricing">jackie@wolfeproposals.com</a>.</p>
				<p id="copyright">&copy; Wolfe Proposals, 2011</p>
			</div>
			
		</div>
	</div>
</div>