<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Wolfe Proposals - Jackie Wolfe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/wolfeproposals.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-28009052-1']);
	_gaq.push(['_trackPageview']);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<h3 id="logo">Wolfe Proposals</h3>
			<div class="nav">
				<ul id="nav_main">
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</div>
		</div>
		<div class="span8">
			<h6 id="phone">For more information and pricing call 304-596-1530 or email <a href="mailto:jackie@wolfeproposals.com?subject=More%20Information%20And%20Pricing">jackie@wolfeproposals.com</a>.</h6>
		</div>
	</div>
</div>
<div class="clear">&nbsp;</div>
<div id="slogan">
	<div class="container-fluid">
		<div class="row-fluid">
			<h2>Experienced. Cost Effective. Detailed.</h2>
			<h3>Providing you with expert Federal Contracting support services to be successful in generating new business.</h3>
		</div>
	</div>
</div>