{% include header.html %}
<section class="container-fluid" id="content">
	<div class="row-fluid">
		<div class="span9">
			<section id="about">
				<hgroup>
					<h4><span>About</span> Jackie</h4>
					<h5>Over 16 Years in Government Contracting</h5>
				</hgroup>
				<p>Jackie has over 16 years of Government Contracting experience, 10 of which were serving as a Contracting Officer for <a href="http://www.defense.gov/" target="_blank">DoD</a> and Civilian agencies and the past 6 years as a Proposal/Capture Management and Contracts Consultant.  She has also worked in private industry for both large and small businesses and therefore understands the difficulties your company may face when looking for Government opportunities and responding to solicitations.</p>
				<p>Jackie has counseled hundreds of small businesses in their pursuit of Government contracts and has a solid foundation of expertise and resources to help you capture Government opportunities.  She will work hands on with you to help successfully position your company to be competitive in the Government sector.</p>
			</section>
		</div>
		<section class="span3">
			<img alt="Jackie Wolfe - Wolfe Proposals" id="photo" src="/img/jackie-wolfe.png">
		</section>
	</div>
</section>
{% include footer.html %}
</body>
</html>
