{% include header.html %}
<section class="container-fluid" id="content">
	<div class="row-fluid">
		<div class="span9">
			<section id="about">
				<hgroup>
					<h4><span>About</span> Jackie</h4>
					<h5>Over 10 Years in Government Contracting</h5>
				</hgroup>
				<p>I have over <strong>10 years of Federal Contracting experience</strong> with the <a href="http://www.defense.gov/" target="_blank">Department of Defense</a> (DoD), <a href="http://www.nasa.gov" target="_blank">NASA</a> and the <a href="http://www.va.gov" target="_blank">Department of Veterans Affairs</a> (VA).  I have also worked in private industry and therefore understand the difficulties your company may face when looking for work and responding to solicitations.</p>
				<p>I am considered a <strong>subject matter expert</strong> among my peers and senior leadership in the field of federal acquisition, specifically in service, cost reimbursement and firm fixed price type contracts.  I have also developed procurement policy for overseas contingency contracts in Iraq and Afghanistan.</p>
				<p>Throughout my successful career with the Federal Government, I negotiated and provided oversight of various multi-million dollar contracts for mission-critical needs which directly support the <a href="http://www.army.mil" target="_blank">Army</a>, <a href="http://www.nasa.gov" target="_blank">NASA</a> and the <a href="http://www.nsa.gov" target="_blank">National Security Agency</a> (NSA). I counseled key Government decision makers regarding complex contractual arrangements to support their ongoing mission while saving taxpayer money.</p>
				<p>I earned my <strong>MBA in 2003 from Loyola</strong>. I am <strong>Level III DAWIA certified</strong> in Government Contracting and was recently awarded the <strong>2011 Secretary of the Army Award for Excellence in Contracting in the Category of Outstanding Procurement Analyst</strong>.</p>
			</section>
		</div>
		<section class="span3">
			<img alt="Jackie Wolfe - Wolfe Proposals" id="photo" src="/img/jackie-wolfe.png">
		</section>
	</div>
</section>
{% include footer.html %}
</body>
</html>