{% include header.html %}
<section class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<div id="why">
				<hgroup>
					<h4><span>Why</span> Wolfe Proposals?</h4>
					<h5>A Creative Way to Save Money</h5>
				</hgroup>
				<p>As we all know, in this tough economy and extremely competitive industry, companies are searching for creative ways to keep their overhead low while continuously delivering winning proposals. Wolfe Proposals LLC can help your company do just that!</p>
				<p>Wolfe Proposals LLC offers contract and subcontract management and administration services, business development services, proposal writing services and research services.  Wolfe Proposals LLC will provide cradle to grave contract management services including non-disclosure and non-compete agreements, subcontract agreements, subcontracting plans, past performance management, technical editing and pre-evaluation of your proposal, as well as ongoing analysis and notification of upcoming business opportunities.</p>
				<p>Customized services and support are available for a low hourly rate.</p>
				<p>Wolfe Proposals LLC will focus on your company's unique strengths and core competencies to put forth your best proposal every time, saving you time, money and frustration.  With a vast amount of Federal contracting experience and the resources you need, let Wolfe Proposals LLC help you make 2012 your company's most successful year to date.</p>
			</div>
		</div>
		<div class="span6">
			<div id="services">
				<hgroup>
					<h4><span>Services</span> Include</h4>
					<h5>Call for More Information and Pricing</h5>
				</hgroup>
				<ul>
					<li>Cradle to grave contract management services including non-disclosure and non-compete agreements, past performance management, as well as ongoing analysis and notification of upcoming business opportunities.</li>
					<li>Full written proposal</li>
					<li>Proposal editing</li>
					<li>Small business and subcontracting support</li>
					<li>Research and analysis of contracting regulations, policies or other acquisition related topics</li>
					<li>Administration of current and newly awarded contracts</li>
				</ul>
			</div>
			<div id="about">
				<hgroup>
					<h4><span>About</span> Jackie</h4>
					<h5>Over 10 Years in Government Contracting</h5>
				</hgroup>
				<p>Jackie has over 10 years of Federal Contracting experience with the DoD, NASA and the Department of Veterans Affairs (VA).  She has also worked in private industry and therefore understands the difficulties your company may face when looking for work and responding to solicitations.</p>
				<p>She is considered a subject matter expert among her peers and senior leadership in the field of federal acquisition, specifically in service, cost reimbursement and firm fixed price type contracts.</p>
				<p><a href="/about/">Find Out More About Jackie</a></p>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
</body>
</html>